Data preparation

In [4]:
import pandas as pd
import pickle

## loader

In [5]:
dataset = pd.read_csv('data/database_input.csv')

## chack for requiremented colms, null number, and len

In [3]:
def chack_for_missing(df:pd.DataFrame, requiremented_col:list = ['Contract','tenure']):
    if len(df)==0: return False
    for col in requiremented_col:
        if col not in df.index:
            return False
    return True
def chack_for_nulls(df):
    pass
    #נמלא את זה לאחר השיעור מוניטורינג, אולי יהיו שם כלים יותר רלוונטיים

## drop Contract NA

In [ ]:

dataset['Contract'] = dataset['Contract'].dropna()

## TotalCharges transform

In [ ]:
dataset['TotalCharges'] = dataset['TotalCharges'].fillna(2279) # 2279 mean value in data
dataset['TotalCharges'] = dataset['TotalCharges'].str.replace(' ','2279') # remove space string in data
dataset['TotalCharges'] = dataset['TotalCharges'].astype(float)

## PhoneService transform

In [ ]:
dataset['PhoneService'].fillna('No')
dataset['PhoneService'] = dataset['PhoneService'].map({'Yes':1,'No':0})

## tenure tramsform

In [ ]:
dataset['tenure'] = dataset['tenure'].fillna(dataset['tenure'].mean())

## Contract transform

In [ ]:
dataset = dataset.join(pd.get_dummies(dataset['Contract']).astype(int))

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   customerID        7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7043 non-null   object
dtypes: float64(1), int64(3), object(17)
memory usage: 1.1+ MB

In [14]:
dataset.iloc[1]

Unnamed: 0                     1
customerID            5575-GNVDE
gender                      Male
SeniorCitizen                  0
Partner                       No
Dependents                    No
tenure                        34
PhoneService                   1
MultipleLines                 No
InternetService              DSL
OnlineSecurity               Yes
OnlineBackup                  No
DeviceProtection             Yes
TechSupport                   No
StreamingTV                   No
StreamingMovies               No
Contract                One year
PaperlessBilling              No
PaymentMethod       Mailed check
MonthlyCharges             56.95
TotalCharges              1889.5
Name: 1, dtype: object

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   customerID        7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   int64
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7043 non-null   float64
 21  Month-to-month    7043 non-null   int32
 22  One year          7043 non-null   int32
 23  Two year          7043 non-null   int32
dtypes: float64(2), int32(3), int64(4), object(15)
memory usage: 1.2+ MB

In [8]:
from transform import transform_df
chack_transform = transform_df(dataset)

In [9]:
chack_transform

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   customerID        7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   int64
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7043 non-null   float64
 21  Month-to-month    7043 non-null   int32
 22  One year          7043 non-null   int32
 23  Two year          7043 non-null   int32
dtypes: float64(2), int32(3), int64(4), object(15)
memory usage: 1.2+ MB

In [10]:
# TEST TO RUN MODEL
result_columns = ['TotalCharges','Month-to-month','One year','Two year','PhoneService','tenure']

with open('churn_model.pickle', 'rb') as f:
    rf_model = pickle.load(f)

rf_model.predict(chack_transform[result_columns])

array([1, 0, 1, ..., 0, 1, 0], dtype=int64)